{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Also local -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Forum Innowise</title>
</head>
<body>
    <div class="container wrapper">
        <!-- header -->
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">Forum Innowise</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    </div>
                </div>
                </div>
            </nav>
        </div>

        <!-- main body -->
        <div class="content">
        {% block content %}

        {% endblock %}
        </div>

        <!-- footer -->
        <div class="footer">
            <p>Forum built for <a href="https://innowise-group.com/">Innowise</a> by <a href="https://www.linkedin.com/in/sergey-gurkov/">Sergey Gurkov</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    </div>
</body>
</html>