{% extends 'topic/base.html' %}

{% block content %}
    <div class="topic-list">
        <h1>List of all topics</h1>
        <h2 class="topic-theme">Tasks</h2>
        <div class="theme-list">
            {% for topic in topics %}
            <div class="container">
                <div class="row">
                    <div class="col-6 topic">
                        <h3><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h3>
                    </div>
                    <div class="col-3 topic">
                        number of comments
                    </div>
                    <div class="col-3 topic">
                        likes/dislikes
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}