html,
body {
	height: 100%;
}

h1 {
    text-align: center;
}

.footer {
    text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.topic-theme {
	text-align: center;
}

.topic {
	color: red;
	outline: 1px solid black;
	
}